/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*

    colors:
        yellow: rgb(255,294,0);
        blue: (0,157,223)

*/

html, body {
    margin: 0;
}

body {
    background: rgb(255,194,0);
    font-size: 16px;
}

.yellow-bg {
    background: rgb(255,194,0);
    width: 100%;
    padding: 2rem;
}

body.digital-futures {
    background: white;
    background: url(/img/bg-shot.jpg) no-repeat;
    background-size:  contain;
}

.question {
    padding: 2rem 0rem 2rem;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.big-video {
    padding: 0;
}

p {
    font-size: 1rem;
}

nav.navbar {
    width: 100%;
    text-align: right;
    background: #009DDF;
    border-bottom: none;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

.navbar-fixed-bottom, .navbar-fixed-top {

}


#logo {
    max-width: 200px;
    margin: 3rem 1rem 2rem 40rem;
    position: relative;
    right: 0px;
    float: right;
}

.jumbotron {
    background: rgb(255,194,0);
}

.digital-futures .jumbotron {
    background-color: transparent;

}

.digital-futures .jumbotron h1 {
    font-family: 'consolas', monospace;
    background: rgb(0,157,223);
    padding: 1rem;
    display: inline-block;
}

.jumbotron h1, .jumbotron h2 {
    color: white;
}

.digital-futures .jumbotron h2 {
    background: rgb(255,194,0);
    padding: 1rem;
}

.featured {

    border: 0.5rem solid white;
}

.project-showcase {
    background: white;
}

.partnership {
    max-width: 15rem;
    margin: 0px auto;
    float: left;
}

.pull {
    background-color: white;
    padding: 0rem 1rem 1rem;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 1rem;
}

.pull ul, .pull ol {
    margin: 1rem 0rem;
    padding-left: 1.5rem;
}

.pull li, .pull p {
    font-size: 1.1rem;
}

.nav-pills {
    margin-bottom: 2rem;
}


footer {
    background: rgb(0,157,223);
    clear: both;
    margin: 0rem 0 0 0;
    bottom: 0px;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer p {
    color: white;
    text-transform: uppercase;
    margin:0;
    font-weight: 200;
}

footer a, footer a:hover {
    color: white;
    text-decoration: underline;
}

.blurb {
    background: white;
    padding: 3rem;
}

.white-filler {
    padding: 2rem;
    width: 100%;
    background-color: white;
}

.white-filler img {
    display: block;
    margin: 0px auto;
}

/* Typography */

.introduction h1, .introduction h2 {
    color: white;
}

h1, h2, h3 {
    color: rgb(0,157,223);
}

.df-link, .df-link:active, .df-link:hover {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}



@media screen and (min-width: 480px) {
    .partnership {
        /*margin: 10rem 0rem 0rem 0rem;*/
        max-width: 12rem;
        float: left;
    }
}


@media screen and (min-width: 768px) {
    body {
        padding-top: 70px;
    }
    header h1 {
        margin-top: 0;
    }
    #logo {
        top: 0rem;
        margin: 0rem 2rem;
    }
    .navbar-fixed-bottom, .navbar-fixed-top {
        position: fixed;
    }
    .jumbotron h1 {
        margin: 1.3rem 0rem 0rem;
    }
    .jumbotron h2 {
        font-size: 52px;
        margin: 0rem 0rem 3rem;
    }
    .nav-pills {
        margin: -2rem 0 2rem;
    }

    .partnership {
        /*margin: 10rem 0rem 0rem 0rem;*/
        max-width: 12rem;
        float: right;
    }

    .partnership p {
        margin-bottom: 0;
        margin-left: 1rem;
        font-size: 1rem;
    }

    .digital-futures .jumbotron {
        text-align: center;
    }

    .digital-futures .jumbotron h1 {
        margin-top: 15vh;
        margin-bottom: 0vh;
    }
    .digital-futures .jumbotron h2 {
        display: inline-block;
        font-size: 25px;
    }
    .pull {
        padding: 1rem 2rem;
    }

}




/* Bootstrap Overwrites */

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 200;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}

.btn-primary {
    background-color: rgb(0,157,223);
    border-color: rgb(0,137,203);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    color: rgb(0,157,223);
}

.digital-futures .navbar-default .navbar-nav>.active>a, .digital-futures .navbar-default .navbar-nav>.active>a:focus, .digital-futures .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgb(255,194,0);
    color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(0,157,223);
    border-color: rgb(0,137,203);
}

/* Fluid width video from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}