<!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
            {% if page.page-class == 'home' %}<li class="active">{% else %}<li>{% endif %}
              <a href="/">Home <span class="sr-only">Home</span></a>
            </li>
            {% if page.nav-group == 'digital-futures' %}<li class="active"> {% else %}<li>{% endif %}
              <a href="/digital-futures">Digital Futures <span class="sr-only">Digital Futures</span></a>
            </li>
           </ul>
         </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <h1><a href="/" title="The Bridge at Waterloo"><img id="logo" src="/img/logos/the-bridge-at-waterloo.png" alt="The Bridge at Waterloo"></a></h1>
</header>
