---
layout: digital-futures/wrapper
title: Digital Futures
permalink: /digital-futures/
page-class: digital-futures
nav-group: digital-futures
find-out-more-title: Find out more
find-out-more-link: course-overview
find-out-more-link-title: Course content
main-img: /img/apprentices.jpg
main-img-alt: Apprentices
---
<div class="jumbotron">
  <div class="container">
    <div class="header-wrapper">
      <h1><a class="df-link" href="/digital-futures/" title="The Bridge at Waterloo Digital Futures">Digital Futures</a></h1>
      <h2 id="student">Get into London's booming tech world</h2><br>
      <a class="btn btn-success btn-lg" href="#student">I'm a student</a>
      <a class="btn btn-primary btn-lg" href="/tbaw-for-business">I'm a business</a>
    </div>
  </div><!-- / .container -->
</div><!-- / .jumbotron -->
<section class="question">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h3>What is Digital Futures?</h3>
        <p>Digital Futures is a full-time creative coding bootcamp taking place from 4th–31st July.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3>Is this for me?</h3>
        <p>If you are Lambeth resident aged 18–30 who wants to upgrade your digital skills, this course is for you.</p>
        <a href="#apply" class="btn btn-primary">Apply now</a>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3>What will we do?</h3>
        <p>We will will design and build an app for the interactive dance production 'David'. The app will be used in a production at <a href="http://www.southbankcentre.co.uk/whatson/festivals-series/strive" title="Strive Festival at Southbank">the Strive Festival</a> at the Southbank Centre in August.</p>
      </div>
    </div>
  </div>
</section>

<section class="question">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h3>What topics will be covered?</h3>
        <p>The entire curriculum can be described as building the app. Students will learn by doing the following:</p>
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h4>In English</h4>
            <ul>
              <li>How to design apps focused on user needs</li>
              <li>Learning how to quickly build and test digital tools</li>
              <li>Design principles</li>
              <li>Digital graphic design focused on users</li>
              <li>Problem-solving skills</li>
              <li>Coding skills for websites and apps</li>
              <li>Team work and collaboration skills</li>
              <li>Using data on the web</li>
              <li>Making things work for those with disabilities</li>
              <li>How to protect an application from hackers</li>
            </ul>

          </div>
          <div class="col-md-5 col-sm-12">
            <h4>In Tech Speak</h4>
            <ul>
              <li>User Centred design process</li>
              <li>Rapid prototyping</li>
              <li>Design thinking</li>
              <li>User Experience (UX) design</li>
              <li>Computational thinking</li>
              <li>Coding in HTML, CSS & JavaScript</li>
              <li>GitHub and collaborative coding</li>
              <li>Web Services (HTTP & APIs)</li>
              <li>Accessibility</li>
              <li>Cybersecurity</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3>What is David?</h3>
        <p>David is an interactive contemporary dance production. </p>
        <img src="/img/david.jpg" alt="David in his interactive dance">
        <p>For more information about David, please visit <a href="http://www.pellensemble.com/#!davidlandingpage/c1kxl" target="new">Pell Ensemble</a>.</p>
        <p>Watch the video below</p>
      </div>
    </div>
  </div>
</section>

<section class="big-video">

<div class="videoWrapper">
  <iframe src="https://player.vimeo.com/video/160244218" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</section>

<section class="question">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-12">
        <img src="/img/mentoring.jpg" class="featured" alt="Young person being mentored">

      </div>

      <div class="col-md-6 col-sm-12">
        <h3>What else is covered?</h3>
        <p>Each student will work with a <strong>dedicated mentor</strong> from the local community who will provide <strong>guidance and support</strong> throughout the course.</p>
        <p>Key <strong>employability skills</strong> will be covered by a series of workshops, and local employers will come in to share insights and advice about their industry.</p>
      </div>
    </div>
  </div>
</section>


<section class="question">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-md-12">
        <h3>What happens after the course?</h3>
        <p>We help you apply for a work placement to put your skills into practice.</p>
        <p>Your mentor will provide you with career support for at least two months after the course.</p>
      </div>

      <div class="col-md-7 col-md-offset-1 col-sm-12">
        <h3>Where can your new skills take you?</h3>
        <p>We expect our graduates to be able to perform any of the following roles:</p>
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h4>In English</h4>
            <ul>
              <li>A designer who specialises in websites</li>
              <li>A designer who focuses on user experience</li>
              <li>A developer who works with web technologies</li>
              <li>A developer who works with servers and databases</li>
              <li>A developer who builds user-facing apps</li>
              <li>A developer who is comfortable on the server and in the client</li>
              <li>A technician who looks after IT systems</li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-12">
            <h4>In Tech Speak</h4>
            <ul>
              <li>Web Designer</li>
              <li>User Experience Designer</li>
              <li>Web Developer</li>
              <li>Back-end developer</li>
              <li>Front-end developer</li>
              <li>Full-stack developer</li>
              <li>Systems Administrator</li>
              <li>Project Manager</li>
              <li>Product Manager</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="question">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-12">
        <h3>Who is leading the course?</h3>
        <p>You will be spending the month with Creative Developer Ali Blackwell</p>
        <p>In 2011 he co-founded Decoded with the goal of teaching the world to code.</p>
        <p>He is an award-winning web designer and developer, and an enthusiastic teacher.</p>
        <p>To find out more, check out Ali on <a href="https://www.linkedin.com/in/aliblackwell" target="new">LinkedIn</a> and <a href="https://twitter.com/aliblackwell" target="new">Twitter</a> – or <a href="https://www.google.co.uk/search?q=ali+blackwell&oq=ali+blackwell&aqs=chrome..69i57j69i60j69i61j69i60j69i65.1501j0j1&sourceid=chrome&ie=UTF-8" target="new">Google him</a>!</p>

      </div>

      <div class="col-md-6 col-sm-12">
        <div class="videoWrapper featured">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yLiPKqRvJQc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="question">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-12">
        <h3>This all sounds great, what else do I need to know?</h3>
        <ul>
          <li>The course runs from 10am to 5pm each day</li>
          <li>Lunch and travel expenses are covered for the entire programme</li>
          <li>The course will take place at Short St, London SE1 8LJ</li>

        </ul>
      </div>

      <div class="col-md-6 col-sm-12">
        <h3>Come to our Open Day</h3>
        <p>We are hosting an Open Day on <strong>Saturday, 21st May</strong> at <strong>12pm</strong> at St Andrew's, Short St, London SE1 8LJ.</p>
        <p>Come along then to find out more.</p>
      </div>
    </div>
  </div>
</section>
<div class="question" id="apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {% include digital-futures/young-cta.html %}
      </div>
      <div class="col-xs-12 col-md-6">
        {% include digital-futures/business-cta.html %}
      </div>
    </div>
  </div>
</div>