<section class="for-business pull">
  <h3>Are you a  <strong>business</strong> in London?</h3>
  <ul class="">
    <li>Are you open to taking on a talented young person with up-to-date digital and coding skills?</li>
    <li>Able to provide a short work placement in August or September?</li>
    <li>Do you pay the living wage?</li>
  </ul>
  <p>
    <a class="btn btn-primary btn-lg" href="/downloads/TBAW.Introduction_letter_to_employers.DF16.Draft3.pdf" role="button">Find out more</a>
    <a class="btn btn-success btn-lg" href="mailto:giles@stjohnswaterloo.org?subject=Digital%20Futures" title="Email Rev Giles Goddard" role="button">Contact us</a>
  </p>
</section>