<section class="for-business pull">
  <h3>Are you a  <strong>business</strong> in London?</h3>
  <ul class="">
    <li>Does your website or digital marketing need a helping hand?</li>
    <li>Are you a growing business in need of a tech-trained intern?</li>
    <li>Are you itching to kick-start your social responsibility mission?</li>
  </ul>
  <p>
    <a class="btn btn-primary btn-lg" href="/downloads/The-Bridge-at-Waterloo-for-Businesses.2016.jpg" role="button">Find out more</a>
    <a class="btn btn-success btn-lg" href="mailto:giles@stjohnswaterloo.org?subject=Digital%20Futures" title="Email Rev Giles Goddard" role="button">Contact us</a>
  </p>
</section>