<ul class="nav nav-pills">
  <li role="presentation" {% if page.permalink == '/digital-futures/' %} class="active" {% endif %}>
    <a href="/digital-futures">Home</a>
  </li>
  <li role="presentation" {% if page.permalink == '/digital-futures/course-overview/' %} class="active" {% endif %}>
    <a href="/digital-futures/course-overview">Course overview</a>
  </li>
  <li role="presentation" {% if page.permalink == '/digital-futures/open-day/' %} class="active" {% endif %}>
    <a href="/digital-futures/open-day">Open Day: 21st May</a>
  </li>
</ul>