<div class="row">

  <div class="col-xs-12 col-md-3">
    <p>Funded by:</p>
    <a href="http://www.walcotfoundation.org.uk/" title="Funded by Walcot Foundation" target="new"><img src="/img/logos/Walcot_Logo.gif" alt="Walcot Foundation"></a>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>Accredited by:</p>
    <div class="white-filler">
      <a href="http://www.ocnlondon.org.uk/" title="Accredited by OCN London" target="new"><img src="/img/logos/ocn.png" alt="OCN London"></a>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>In partnership with:</p>
    <div class="white-filler">
      <a href="http://www.peabody.org.uk/home" title="Peabody" target="new"><img src="/img/logos/new-peabody-logo.jpg" alt="Peabody"></a>
    </div>
  </div>
</div>