<div class="row">

  <div class="col-xs-12 col-md-3">
    <p>Funded by:</p>
    <a href="http://www.walcotfoundation.org.uk/" title="Funded by Walcot Foundation" target="new"><img src="/img/logos/Walcot_Logo.gif" alt="Walcot Foundation"></a>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>In partnership with</p>
    <div class="white-filler">
      <a href="www.citizensuk.org/good-jobs" title="Citizens UK Good Jobs Campaign" target="new">
        <img src="/img/logos/citizens-uk-logo.png" alt="Citizens UK">
        <img src="/img/logos/RGB_GoodJobsCampaignLogo_(F).png" alt="The Good Jobs Campaign">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>In partnership with:</p>
    <div class="white-filler">
      <a href="http://www.peabody.org.uk/home" title="Peabody" target="new"><img src="/img/logos/new-peabody-logo.jpg" alt="Peabody"></a>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>In partnership with:</p>
    <div class="white-filler">
      <a href="http://www.se1united.org.uk/" title="SE1 United" target="new"><img src="/img/logos/se1-united.png" alt="SE1 United"></a>
    </div>
  </div>
</div>