<section class="pull for-young">
  <h3>Are you a <strong>young person</strong> in Lambeth?</h3>
  <ul class="">
    <li>Are you 18-30 years old?</li>
    <li>Resident in Lambeth?</li>
    <li>Unemployed or beginning to look for work?</li>
    <li>Interested in a career in technology and the arts?</li>
  </ul>
  <p>
    <a class="btn btn-primary btn-lg" href="/downloads/TBAW.DF2016.Candidate_Recruitment_Flyer.Draft3.pdf" role="button">Find out more</a>
    <a class="btn btn-success btn-lg" href="http://goo.gl/forms/xIbpYAJFO2" role="button">Apply now</a>
  </p>
</section>