<section class="pull for-young">
  <h1>How to apply</h1>
  <h3>Are you a <strong>young person</strong> in Lambeth looking to stand out in the job market?</h3>
  <ul class="">
    <li>Looking for a career in tech and digital?</li>
    <li>Aged 18-30 and resident in Lambeth?</li>
  </ul>
  <p>Just answer three questions:</p>
  <ol>
    <li>Are you a Lambeth Resident?</li>
    <li>Are you available for the month of July?</li>
    <li>Tell us a bit about yourself</li>
  </ol>
  <p>Email your answers to tbaw@stjohnswaterloo.org or text Ali on 07719 443470</p>

</section>