---
layout: digital-futures/wrapper
---
<div class="row">
  <div  class="col-xs-12 col-md-10">
    <ol>
      <li><a href="#arts-creativity">Arts and Creativity</a></li>
      <li><a href="#coding-employability">Coding and employability skills</a></li>
      <li><a href="#mentoring">Mentoring and a person-centric approach</a></li>
    </ol>
  </div>
  <div class="col-xs-12 col-md-2">
    {% include digital-futures/citizens-uk-partnership.html %}
  </div>
</div>


<section class="row" id="arts-creativity">
  <header class="col-xs-12 col-md-12">
    <h3>1. Founded in the Arts and creativity</h3>
  </header>
  <div  class="col-xs-12 col-md-8">
    {{ page.arts-and-creativity }}

  </div>
  <div  class="col-xs-12 col-md-4">

    <div class="videoWrapper featured">
      <iframe src="https://player.vimeo.com/video/160244218" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <figcaption>David, the production that inspired this format. For more information about David, please visit <a href="http://www.pellensemble.com/#!davidlandingpage/c1kxl" target="new">Pell Ensemble</a>.</figcaption>
  </div>
</section>

<section class="row" id="coding-employability">
  <header class="col-xs-12 col-md-12">
    <h3>2. Coding and employability skills</h3>
  </header>
  <div  class="col-xs-12 col-md-8">
    {{page.coding-employability}}
  </div>
  <div  class="col-xs-12 col-md-4">

    <img src="/img/coding.jpg" class="featured" alt="Young people coding">

  </div>
</section>

<section class="row" id="mentoring">
  <header class="col-xs-12 col-md-12">
    <h3>3. Mentoring and a person-centred approach</h3>
  </header>
  <div  class="col-xs-12 col-md-8">
    {{ page.mentoring-person-centric }}

  </div>
  <div  class="col-xs-12 col-md-4">

    <img src="/img/mentoring.jpg" class="featured" alt="Young person being mentored">

  </div>
</section>

