---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <div class="header-wrapper">
      <h1><a class="df-link" href="/digital-futures/" title="The Bridge at Waterloo Digital Futures">Digital Futures</a></h1>
      <h2>Get into London's booming tech world</h2>
    </div>
  </div><!-- / .container -->
</div><!-- / .jumbotron -->

{{content}}

<div class="container question">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      {% include digital-futures/young-cta.html %}
    </div>
    <div class="col-xs-12 col-md-6">
      {% include digital-futures/business-cta.html %}
    </div>
  </div>
</div>
<div class="yellow-bg">
  <div class="container">

    {% include digital-futures/partners.html %}

  </div><!-- / container -->
</div><!-- / .yellow-bg -->