---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1><a class="df-link" href="/digital-futures/" title="The Bridge at Waterloo Digital Futures">Digital Futures</a></h1>

    {% include digital-futures/navigation.html %}

    {{content}}


  </div><!-- / .container -->

</div><!-- / .jumbotron -->


<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      {% include digital-futures/young-cta.html %}
    </div>
    <div class="col-xs-12 col-md-6">
      {% include digital-futures/business-cta.html %}
    </div>
  </div>

  {% include digital-futures/partners.html %}

</div><!-- / container -->