---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <h1>{{ page.heading }}</h1>
    <h2>{{ page.subheading }}</h2>
    <div class="row">
      <div  class="col-xs-12 col-md-7">
        <p>{{ content }}</p>
        <p><a class="btn btn-primary btn-lg" href="{{ page.find-out-more-link }}" role="button" title="{{ page.find-out-more-link-title }}">Find out more</a></p>
      </div>
      <div  class="col-xs-12 col-md-5">
        <img class="featured" src="{{ page.main-img }}" alt="{{ page.main-img-alt }}">
      </div>
    </div>
  </div>
</div>